:root {
    --neutral-light: #faf4ed;
    --neutral-med: #f4ede8;
    --neutral-dark: #191723;

    --primary1: #b4637a;
    --primary2: #397997;

    --dark-text: #575279;
    --light-text: #e0def4;

    --font: "JetBrains Mono";
}

body {
    font-family: var(--font);
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: var(--light-text);
}

.introduction{
    background-image: url("imgs/placeholderLight");
}
