:root {
    --neutral-light: #faf4ed;
    --neutral-med: #f4ede8;
    --neutral-dark: #191723;

    --primary1: #b4637a;
    --primary2: #397997;

    --dark-text: #575279;
    --light-text: #e0def4;

    --font: "JetBrains Mono";
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: var(--font);

    padding: 0;
    margin: 0;
    overflow: hidden;
    color: var(--light-text);

    font-size:18px;

}

.introduction{
    background-image: url("/imgs/placeholderLight.png");
    height : 75vh;
    width : 100vw;

}

.introductiontext{
    background-color: (--neutral-med);
    border-radius: 10px;
}

h1{
    margin: 0 0 16px;
}

.button {
    background-color: (--primary1);
    border-radius: 5px;
    padding: 2px 8px;
    margin: 4px;
    transition: transform 0.3s ease;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    transform: translateY(-3px) scale(1.02);
}

.button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}