:root{
    --neutral-light:#fff;
    --neutral-med:#29253b;
    --neutral-dark:#fff;

    --primary1: #00b2ff;
    --primary2: #ff00fb;
}

body{
    padding:0;
    margin:0;
    overflow:hidden;
}

.editor-parent{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.section{
    height:100vh;
    flex:1
}

.code-section{
    width:50vw;
    height:100vh;
}

.run-section{
    display:flex;
    flex-direction:column;
}